@font-face {
  font-family: 'drip';
  src: url('./fonts/plasdrip.ttf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  /* filter: brightness(100%); */
  border-spacing: 0px;
  border: 1;
  border-collapse: collapse;
}


.snake.segment{
  background-color: greenyellow;
  width: 40px;
  height: 40px;
}

.apple{
  background-color: red;
  height: 40px;
  width: 40px;
}

td.cell{
  /* background-color: black; */
  width: 40px;
  height: 40px;
}

.cell.image{
  width: 40px;
  height: 40px;
  display: block;
}

div.placeholder 
{
  width: 40px;
  height: 40px;
}

.ui.menu {
  height: 80px;
}

#game-container
{
  
  height: 920px;
  width: 800px;
  
  
}
div#snake-game-box
{
  height: 800px;
  width: 800px;
  
  background-color: black;
  background-image: url('./images/background.png');
}
.game.panel
{
  height: 60px;
  width: 100%;
  background-color: rgb(11, 0, 26);
  font-family: 'drip';
  color: rgb(115, 255, 0);
  margin-left: 0px;
}

#pause-menu{
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(115, 255, 0); 
}

#game-menu{
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin-left: 0px;

}
div.column.menu{
  height: 100%;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(115, 255, 0);
}
div#game-menu
{
  padding-top: 0px;
  margin-top: 0px;
  
}
#menu-col-high
{
  font-size: 17px;
  text-align: left;
}
#menu-col-score
{

}
div.App{  
 
}



.backdrop{
  background-image: url('');
}



div#home-body
{
  width: 100%;
  height: 100vh;
  padding-top: 0%;
  padding-left: 0%;
  background-color: rgb(85, 0, 146);
  display: flex;
  align-content: center;
}
#home-screen{
  padding-top: 30%;
} 
  
img#home-img
{  
    max-width: 70%;
    height: auto;
    border-width: 8px;
    border-color: greenyellow;
    border-style: solid;
    box-shadow: 15px 15px 5px  black;   
}

.ui.inverted.menu
{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div#game-border
{
  
}
